// styling loader
// Font
*{
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
}
.loader-wrapper{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    .load{
        iframe{
            border: none;
            height: 100vh;
            width: 100% ;
        }
    }
    
}
